<div id="footer"> 
    <div id="container_footer">
        <div id="col-1">
            <h5> Safe&Go</h5>
            <h4>"Robot </h4>
            <h4>Revolution,</h4> 
            <h4> Evolution!".</h4>
            <hr>
            <h6>all rights reserved 2023 - 2026</h6>
        </div>
        <div id="col-2">
            <h5> explore</h5>
            <h6>Home</h6>
            <h6>About us</h6>
        </div>
        <div id="col-3">
            <h5>visit</h5>
            <h6>Carrer del Paranimg 1<h6>
            </h6>43730 Gandia,</h6>
            <h6>Valencia </h6>
        </div>
        <div id="col-4">
            <h5>follow</h5>
            <h6>instagram</h6>
            <h6>github</h6>
            <h6>facebook</h6>
            <h6>twitter</h6>
        </div>
        <div id="col-5">
            <h5>legal</h5>
            <h6>tearms</h6>
            <h6>privacy</h6>
        </div>
    </div>
    </div>