.center {
    display: block;
    margin: 0px auto;
    width: 100%;
}

#contentLeft {
    display: block;
    margin: 0px auto;
    width: 50%;
    float: left;
}

#contentLeft .title{
    margin: 0px auto;
    margin-top: 20px;
    width: 90%;
}

#contentLeft h2 {
    color: #333333;
    margin: 0px auto;
    font-family: pang;
    font-size: 55px;
    width: 400px;
}

#contentLeft img {
    width: 620px;
    height: 620px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    width: 70%;
    font-family: pang;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-60%, -50%);
}

#contentRight {
    background: #222535;
    display: block;
    margin: 0px auto;
    width: 50%;
    float: left;
    min-height: 750px;
}

#contentRight p{
    display: block;
    margin: 60px;
    margin-top: 90px;
    font-family: pang;
    font-size: 25px;
    color: #fff;
    text-align: justify;
}


/*
.outborder {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    background: #DBDCD7;
    padding-top: 60px ;
    padding-bottom: 60px ;
}

.center {
    display: block;
    margin: 0px auto;
    background: #333333;
    min-height: 500px;
    border-radius: 51px;
    width: 85%;
    height: 600px;
}

#contentText {
    display: block;
    margin: 0px auto;
    width: 40%;
    float: left;
    margin-top: 110px;
    margin-left: 80px;
}

#contentText .title{
    margin: 0px auto;
    background-color: #fff;
    border-radius: 51px;
    width: 90%;
    margin-left: 40px;
}

#contentText h2 {
    color: #333333;
    margin: 0px auto;
    margin-left: 15px;
    font-family: pang;
    font-size: 55px;
    width: 400px;
}

#contentText p {
    line-height: 50px;
    text-align: center;
    margin: 90px auto;
    font-family: pang;
    font-size: 30px;
    color: #fff;
}

#contentImage {
    display: block;
    width: 50%;
    float: right;
    margin-top: 60px;
}

#contentImage img{
    display: block;
    margin: 0px auto;
    width: 410px;
    height: 460px;
    border-radius: 51px;
}
*/