<div class="center">
    
    <div id="contentLeft">
        <div class="title">
            <h2> LOREM IPSUM </h2>
        </div>
        <div class="contenedor">
            <img src="../../../assets/image/mosaico2.png" alt="Imagen de robots dibujados">
            <div class="centrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum nemo amet maiores aliquam labore autem, ipsum, nesciunt, repellendus voluptates beatae est illo. Pariatur provident explicabo voluptatum exercitationem itaque! Doloribus!</div>
        </div>
    </div>

    <div id="contentRight">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget turpis sit amet odio luctus consequat sed et est. Nunc dapibus purus neque, consequat porttitor risus vulputate vitae.</p>
        <p> Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce id feugiat eros. Proin elementum rhoncus dolor, id volutpat turpis.</p>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tellus est, imperdiet id molestie sed, imperdiet non dui. In ultrices felis ligula, ut gravida enim consectetur ac.</p>
    </div>

    <div class="clearfix"></div>
</div>