<div class="center">
    
    <div id="contentLeft">
        <div class="title">
            <h2> About us </h2>
        </div>
        <div class="contenedor">
            <img src="../../../assets/image/mosaico2.png" alt="Imagen de robots dibujados">
            <div class="centrado">
                In our team, we have highly skilled experts in robotics and artificial intelligence. We have worked on innovative projects in the field of robotics, and our achievements have been recognized with awards and accolades in the industry.</div>
        </div>
    </div>

    <div id="contentRight">
        <p> Our robot waiters play a crucial role in reducing waste and promoting greener practices. With their help, we are able to achieve significant advancements in waste reduction, integrated recycling, and the promotion of responsible practices. One of the main benefits of our robot waiters is their contribution to waste reduction. By automating the serving process, these robots eliminate the need for disposable utensils and excessive food portions, minimizing the amount of food that goes to waste.</p>
        <p> Integrated recycling is another essential feature of our robot waiters. Equipped with recycling systems, these robots can efficiently sort and dispose of recyclable materials, such as plastic bottles and cans. This promotes proper waste management and encourages recycling practices within establishments.</p>
    </div>

    <div class="clearfix"></div>
</div>