<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <span id="brand">
                <!-- Añadir links: <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>-->
                Safe&Go
            </span>
        </div>

        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLink]="['']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a>Login</a>
                </li>
            </ul>
        </nav>

    </div>
</header>