<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo" [routerLink]="['/home']" [routerLink]="['']">
            <span id="brand">
                Safe&Go
            </span>
        </div>

        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLink]="['']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li>
                    <a href="#formulario">Contact</a>
                </li>
                <li>
                    <a>About us</a>
                </li>
                <li>
                    <a [routerLink]="['/signin']" [routerLinkActive]="['active']">Login</a>
                </li>
            </ul>
        </nav>

    </div>
</header>