<app-control-header></app-control-header>
<app-control-nav-bar></app-control-nav-bar>

<div class="content">

    <div class="header-status">
        <h3>All your devices</h3>
    </div>

    <div class="container">

        <a class="content-robot" [routerLink]="['/robot-map']">
            <div class="robot-info">
                <h4>Robot 1</h4>
                <p>X kilometros Recorridos -> Bateria %</p>
            </div>
        </a>

        <a class="content-robot" [routerLink]="['/robot-map']" >
            <div class="robot-info">
                <h4>Robot 1</h4>
                <p>X kilometros Recorridos -> Bateria %</p>
            </div>
        </a>

    </div>

</div>
