#privacy{
    margin-left: 6%;
    margin-right: 7%;
    margin-bottom: 10%;
    font-family: Pang;
    font-size: 18pt;
    font-weight: normal;
    line-height: 2;
}

h1{
    font-family: Pang;
    font-size: 38pt;
    font-weight: normal;
}

h2{
    font-weight:100;
}