<app-header></app-header>
<div id="privacy">
	<h1><< Privacy Policy</h1>
	<h2>Collection of Personal Information</h2>
<p>Safe&amp;Go may collect personal information from users in various ways, including but not limited to, account registration, newsletter subscription, participation in surveys, purchase of products or services, and communication with us through our website or email. The personal information we may collect includes, among others, the following data:</p>
<ul>
	<li>Full name</li>
	<li>Email address</li>
	<li>Phone number</li>
	<li>Billing and payment information</li>
	<li>Shipping address</li>
	<li>Demographic information, such as age, gender, and geographic location</li>
</ul>

<h2>Use of Personal Information</h2>
<p>Safe&amp;Go will use the collected personal information for the following purposes:</p>
<ul>
	<li>Provide and maintain our products and services</li>
	<li>Process payments and complete transactions</li>
	<li>Send commercial and promotional communications, including newsletters and special offers, only with the user's prior consent</li>
	<li>Personalize and improve the user experience on our website</li>
	<li>Analyze the use of our website and conduct market research</li>
	<li>Comply with legal obligations and respond to legal and governmental requests</li>
</ul>

<h2>Protection of Personal Information</h2>
<p>Safe&amp;Go is committed to protecting the personal information of users and implementing reasonable measures to ensure its security. We implement technical, organizational, and administrative measures to protect personal information from unauthorized access, loss, misuse, and unauthorized disclosures. However, it is important to note that no online security measure is completely foolproof, and we cannot guarantee the absolute security of personal information.</p>

<h2>Sharing of Personal Information</h2>
<p>Safe&amp;Go will not share users' personal information with third parties, except in the following cases:</p>
<ul>
	<li>Service providers: We may share personal information with service providers who assist us in operating our website, processing payments, sending emails, or providing other services on our behalf. These service providers are prohibited from using personal information for purposes other than those authorized by us.</li>
	<li>Legal compliance: We may disclose personal information in response to a valid legal request, such as a court order, subpoena, or search warrant, or to comply with applicable law or regulations.</li>
	<li>Protection of rights and safety: We may disclose personal information when necessary to protect the rights, property, or safety of Safe&amp;Go, our users, or other third parties.</li>
</ul>

<h2>Cookies and Tracking Technologies</h2>
<p>Safe&amp;Go uses cookies and other tracking technologies to improve the user experience on our website, analyze the use of our site, and personalize content and advertising.</p>

</div>
<app-footer></app-footer>