<div class="container">

    <div class="columns-container">

      <div class="left-column">
        <ul class="list">
          <li>Name:</li>
          <li>Serial Number: </li>
          <li>Now:</li>
          <li>Status:</li>
          <li>Last Revision:</li>
          <li>Next Revision:</li>
        </ul>
      </div>

      <div class="right-column">
        <ol class="list">
          <li>Robot 1</li>
          <li>12286533336728368</li>
          <li>20º 25º 56º</li>
          <div class="status">
            <img src="../../../assets/image/enableIcon.png" alt="Imagen del item">
            <li>Enable</li>
          </div>
          <li>10/01/2002</li>
          <li>10/01/2003</li>
        </ol>
      </div>
    </div>


    
    <div class="bottom-container">

        <div class="left-bottom">
          <h4>quantity (kg) recycled</h4>
          <img src="assets/images/imageorvector_toolbar.png" alt="Imagen 1">
        </div>

        <div class="right-bottom">
            <h4>types</h4>          
            <img src="assets/images/png-clipart-pie-chart-diagram-computer-icons-circle-graph-angle-text.png" alt="Imagen 2">
        </div>

    </div>

</div>
