<app-header></app-header>
<div id="container">
    <div id="form_container">
        <h1>Forgot your password</h1>
        <h3>Please enter the e-mail adress that you used when you signed up your account </h3>
        <h3>>> e-mail* </h3>
        <input class="input" id="input_name" type="text">
       
        <button class="button" id="button_signup"> send
        </button>
    </div>
    <div id="contenedor-imagen">
        <img src="../../../assets/image/imagen.png">
    </div>
</div>

<app-footer></app-footer>