<app-control-header></app-control-header>
<app-control-nav-bar></app-control-nav-bar>

	<div class="container">

		<div class="profile-picture">
			<img src="../../../assets/image/icon.png" alt="User Image">
			<p>?&nbsp;&nbsp;&nbsp;&nbsp;upload Image</p>
		</div>

        <div class="list-container">
            <div class="list-column left-column">
                <ul>
                    <li>>>&nbsp;&nbsp;&nbsp;&nbsp;Name</li>
                    <li>>>&nbsp;&nbsp;&nbsp;&nbsp;Surnames</li>
                    <li>>>&nbsp;&nbsp;&nbsp;&nbsp;Email</li>
                    <li>>>&nbsp;&nbsp;&nbsp;&nbsp;Phone Number</li>
                    <li>>>&nbsp;&nbsp;&nbsp;&nbsp;Password</li>
                </ul>
            </div>
            <div class="list-column right-column">
                <ul>

                    <li>
                        <input type="text" id="" name="userName" placeholder="User">
                    </li>
                    
                    <li>
                        <input type="text" id="" name="surname" placeholder="User">
                    </li>

                    <li>
                        <input type="email" id="" name="email" placeholder="user@gmail.com">
                    </li>

                    <li>
                        <input type="number" id="" name="phoneNumber" placeholder="+34 689 98 98 23">
                    </li>

                    <li>
                        <input type="password" id="" name="password" placeholder="****************">
                    </li>

                </ul>
            </div>
        </div>


		<div class="button-container">
			<button>Save the chances</button>
		</div>

	</div>


