<app-control-header></app-control-header>
<app-control-nav-bar></app-control-nav-bar>



<script src="roslib.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/easeljs@1/lib/easeljs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/eventemitter2@6.4.9/lib/eventemitter2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ros2d@0.10.0/build/ros2d.min.js"></script>
    

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<script src="draw_occupancy_grid.js"></script>
<script src="main.js"></script>


<div id="mapa">
    <canvas id="map"></canvas>
</div>


<div id="sc2" class="sc">


    <div class="caja controles">
        <div id="move">
            <div id="moveArriba">
                <fa-icon id="delante" [icon]="arrowUp"></fa-icon>
            </div>
            <div id="moveAbajo">
                <fa-icon id="izquierda" [icon]="arrowLeft"></fa-icon>
                <fa-icon id="parar" [icon]="arrowDown"></fa-icon>
                <fa-icon id="derecha" [icon]="arrowRight"></fa-icon>
            </div>
        </div>

        <div class="configure">
            <div class='checkboxGroup'>
                <label id="switch" class='checkboxControl'>
                    <input type='checkbox' />
                    <div>ΟΙ</div><b></b>
                    <span class='indicator'></span>
                </label>
            </div>

            <fa-icon [icon]="home"></fa-icon>
        </div>
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja estadisticas" (click)="alertInformation()">
        <p>press to see > statistics ></p>
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja coord">
        <p id="pos_x">0.00</p>
        <p id="pos_y">0.00</p>
    </div>
</div>

//Mesas
<div id="sc2" class="sc">
    <div class="caja mesa" id="m1">
        <img src="../../../assets/image/mesa1.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m2">
        <img src="../../../assets/image/mesa2.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m3">
        <img src="../../../assets/image/mesa3.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m4">
        <img src="../../../assets/image/mesa4.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m5">
        <img src="../../../assets/image/mesa5.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m6">
        <img src="../../../assets/image/mesa6.png" alt="mesa1">
    </div>
</div>

<div id="sc2" class="sc">
    <div class="caja mesa" id="m7">
        <img src="../../../assets/image/mesa7.png" alt="mesa1">
    </div>
</div>


<div id="sc2" class="sc">
    <div class="caja camara">
        <iframe src="http://0.0.0.0:8080/stream?topic=/fomo_image"></iframe>
    </div>
</div>




<!--



<div class="clearfix"></div>

<div id="controles">
    <div id="test"> hola </div>
</div>
<div class="clearfix"></div>



<main>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Menu</h3>
                        <p>This is the left side of my web page. It occupies 33% of the total width</p>
                        <button class="mt-2 btn btn-success" id="btn_con">Conectar</button>
                        <button class="mt-2 btn btn-danger" id="btn_dis">Desconectar</button>

                        <p>Anyade la ip</p>
                        <input id="ip_input" type="text" value="ws://127.0.0.1:9090/">
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center" id="title">Main content</h2>
                            <button class="mt-2 btn btn-primary" id="btn_move">Mover</button>
                            <button class="mt-2 btn btn-primary" id="btn_derecha">Derecha</button>
                            <button class="mt-2 btn btn-primary" id="btn_parar">Parar</button>
                            <button class="mt-2 btn btn-primary" id="btn_jaula_on">Poner Jaula</button>
                            <button class="mt-2 btn btn-primary" id="btn_jaula_off">Quitar Jaula</button>
                    </div>
                </div>
                <hr>
                <p>Subscribing robot data</p>
                <p>
                <span>X: <span id="pos_x"></span>
                </span>
                <br>
                <span>Y: <span id="pos_y"></span>
                </span>
                </p>
            </div>
        </div>
    </div>
</main>


<div class="container-map">
    <img src="" alt="placeholder image" class="image">
    <button class="button" [routerLink]="['/stats']" >Press to see statistics</button>
</div>
-->