<app-header></app-header>
<div class="container" id="container">
    <div class="form_container">
        <h1>sign up</h1>
        <h3>>> first name*</h3>
        <input class="input" id="input_name" type="text">
        <h3>>> last name* </h3>
        <input class="input" id="last_name" type="text">
        <h3>>> user* </h3>
        <input class="input" id="input_email" type="text">
        <h3>>> e-mail* </h3>
        <input class="input" id="input_email" type="text">
        <h3>>> password* </h3>
        <input class="input" id="input_password" type="text">
        <h3>>> confirm password* </h3>
        <input class="input" id="input_password_confirm" type="text">
        <button class="button" id="button_signup"> sign up</button>
    </div>
    <div id="contenedor-imagen">
        <img src="../../../assets/image/imagen.png">
    </div>
</div>

<app-footer></app-footer>