/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Pang;
    src: url(./assets/font/pang.ttf);
}

body {
    background: #ACD0AB !important;
}